<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<listeners>
		<listener class-name="com.ExtentReport.ExtentReporterNG" />
	</listeners>
	<test name="Java By Kiran Offline Website Automation ">
		<classes>
			<class name="com.jbk.Test.LoginTest"></class>
			<class name="com.jbk.Test.DashboardPageTest"></class>
			<class name="com.jbk.Test.UsersPageTest"></class>
			<class name="com.jbk.Test.OperatorsPageTest"></class>
			<class name="com.jbk.Test.UsefulLinksPageTest"></class>
			<class name="com.jbk.Test.DownloadsPageTest"></class>
		</classes>
		<!-- <packages> <package name="com.jbk.Test" /> </packages> -->
	</test>
</suite> 